.inithidden {
  display: none;
}

#clickableUs {
  cursor: pointer;
  color: #0088cc;
}

#clickableUs:hover {
  text-decoration: underline;
}

#clickableEu {
  cursor: pointer;
  color: #0088cc;
}

#clickableEu:hover {
  text-decoration: underline;
}

#clickableAu {
  cursor: pointer;
  color: #0088cc;
}

#clickableAu:hover {
  text-decoration: underline;
}

h1 {
  text-align: center;
}


img {
  width: 100%;
}
.darkLight{
  background-color: black;
  color: white;
}
.lightDark{
  background-color: white;
  color: black;
}
body {
  text-align: center;
}
p {
  font-size: 20px;
}
